# Virtual Environment
.venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/



# Database
*.db
*.sqlite3

# Logs
*.log

# Environment files
.env
.env.local

# Testing
.pytest_cache/

# Build files
dist/
build/