<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScholarAI</title>
   

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    {% block content %}
    {% endblock %}

    <script>
document.addEventListener("DOMContentLoaded", function() {

    const form = document.querySelector("form");

    if(form){

        form.addEventListener("submit", function(){

            const btn = document.querySelector("button");

            btn.innerHTML = "🤖 Finding Scholarships...";
            btn.disabled = true;

        });

    }

});
</script>

<footer class="text-center mt-5 mb-3">

    <p>
        Powered by Google Gemini AI
    </p>

    <small>
        Built by Vaibhavee Thorat
    </small>

</footer>

</body>
</html>