<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScholarAI</title>
</head>
<body>

    <h1>ScholarAI</h1>
    <h2>AI-Powered Scholarship Navigator</h2>

    <p>
        Discover scholarships tailored to your profile using Google Gemini AI.
    </p>

    <form action="/recommend" method="POST">


    <input type="text" name="name" placeholder="Full Name" required>

    <input type="text" name="degree" placeholder="Degree" required>

    <input type="text" name="year" placeholder="Year" required>

    <input type="text" name="state" placeholder="State" required>

    <input type="number" name="income"
           placeholder="Annual Family Income"
           required>

    <button type="submit">
        Find Scholarships
    </button>

</form>

</body>
</html>